include mixins/projectlinks
include mixins/tags

extends base
block content
  include partials/header
  h3.project-kicker= kicker
  h2.project-title= title
  a(href=link || demo || image): img.screenshot(src=image)
  +tags(tags)
  +projectlinks({ demo: demo, github: github, link: link })
  section.main!= contents